/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
	text-transform: uppercase;
	font-family: "Cinzel", Helvetica, Arial, sans-serif;
}

.main-2 {
	background-color: rgb(244,244,246);
}	

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	clear: both;
	zoom: 1;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 960px;
}

/*
  ========================================
  Header/Nav
  ========================================
*/

.nav {
	padding: 20px;
	display: flex;
	justify-content: center;
}

.nav li {
	/* display: inline-block; */
	margin: 0 10px;
	vertical-align: top;
	float: left;
}

li:first-child {
	border: 1px solid blue;
	
}

li:last-child {
	border: 1px solid;
	
}

/*
  ========================================
  Typography
  ========================================
*/

.primary-nav a {
	color: rgb(62, 62, 62);
}

.hero h1 {
	font-size: 4.5rem;
	padding-top: 15%;
}

.hero h1,
.hero h1 + p {
	color: white;
}

.hero h1 + p {
	padding: 20px 0;
	font-size: 1.2em;
}

strong {
	font-weight: 700;
	font-size: 1.5em;
}

.black-box {
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	border: none;
	width: 300px;
	padding: 30px 20px;
	line-height: 1.5;
}

.black-box p {
	padding: 20px 0;
	font-size: 1.3em;
}

.white-box {
	
}

/* .black-box h4::before {
	content: '';
	border: 2px solid #fff;
} */

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	letter-spacing: .5px;
	margin: 20px 0;
	text-transform: uppercase;
	background-color: black;
	border: none;
	padding: 20px 40px;
}

.btn-alt {
	border: none;
	padding: 10px 30px;
	color: #000;
	background-color: #fff;
}

.btn-alt:hover {
	background: #fff;
	color: #648880;
}

/*
  ========================================
  Links
  ========================================
*/

a {
	text-decoration: none;
}

/*
  ========================================
  Hero
  ========================================
*/

.hero {
	background: url("images/hero-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

/* .vert-transform {
	writing-mode: vertical-rl;
}

.hours {
	color: #fff;
} */

/*
  ========================================
  Main
  ========================================
*/

.main-1 {
	float: left;
}